.fiche {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

@media screen and (min-width: 1025px) {
    .fiche {
        flex-direction: row;
        background-color: black;
        min-height: 75vh;
        padding-top: 3%;
    }
}

.image {
    padding: 5%;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    .image {
        padding-top: 0;
        width: 30%;
        display: flex;
    }
}

@media screen and (min-width: 1025px) {
    .divImage {
        margin: auto;
    }
}

.tailleImage {
    width: 90%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tailleImage {
        width: 40%;
    }
}

@media screen and (min-width: 1025px) {
    .tailleImage {
        width: 80%;
    }
}

.description {
    color: white;
    padding-right: 5%;
}

@media screen and (min-width: 1025px) {
    .description {
        width: 70%;
        display: flex;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1025px) {
    .divDescription {
        margin: auto;
    }
}

.titreCard {
    color: white;
    text-align: center;
}

.liCard {
    margin-bottom: 1%;
    list-style: none;
}

@media screen and (min-width: 1025px) {
    .liCard {
        margin-bottom: 2%;
    }
}