.searchBar {
    padding-top: 2%;
    text-align: center;
}

.inputSearchBar {
    width: 200px;
    border-radius: 5px;
}

.bodyListeSeries {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 2% 0 10% 10%;
}

.itemListeSeries {
    color: white;
    text-decoration: none;
}

.lien:hover {
    color: yellow;
    font-size: 1.5em;
}