.titrePageFilms {
    color: white;
    text-align: center;
    padding-top: 1%;
    font-size: 2rem;
    font-weight: bold;
}

.searchBarFilm {
    padding-top: 1%;
    text-align: center;
}

.inputSearchBar {
    width: 200px;
    border-radius: 5px;
}

.bodyListeFilms {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
    padding: 2% 0 10% 10%;
}

.itemListeFilms {
    color: white;
    text-decoration: none;
}

.lien:hover {
    color: yellow;
    font-size: 1.5em;
}