.fiche {
    background-color: black;
    display: flex;
    height: 85vh;
    padding-top: 3%;
}

@media screen and (max-width: 1000px) {
    .fiche {
        flex-direction: column;
        height: 140vh;
    }
}

.image {
    width: 30vw;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 1000px) {
    .image {
        margin-left: 35%;
    }
}

@media screen and (max-width: 700px) {
    .image {
        margin-left: 30%;
    }
}

.tailleImage {
    width: 30vw;
    height: 75vh;
}

@media screen and (max-width: 1000px) {
    .tailleImage {
        width: 30vw;
        height: 45vh;
    }
}

@media screen and (max-width: 700px) {
    .tailleImage {
        width: 45vw;
        height: 45vh;
    }
}

.description {
    margin: 0 5% 0 0;
    padding-left: 2%;
    color: white;
}

@media screen and (max-width: 1000px) {
    .description {
        margin-top: 0;
        margin-left: 5%;
    }
}

.titreCard {
    text-align: center;
    font-family: 'Oleo Script', sans-serif;
    color: rgb(27, 32, 37);
    color: white;
}

@media screen and (max-width: 1000px) {
    .titreCard {
        padding-left: 2%;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.liCard {
    margin-bottom: 2%;
    list-style: none;
}

@media screen and (max-width: 1000px) {
    .liCard {
        margin-bottom: 1%;
    }
}